<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.team_id %>
</p>

<p>
  <strong>Type soldier:</strong>
  <%= @team.type_soldier %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
