<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service.service_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @service.activity %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
