<p id="notice"><%= notice %></p>

<h1>Barracks</h1>

<table>
  <thead>
    <tr>
      <th>I d</th>
      <th>Name barrack</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barracks.each do |barrack| %>
      <tr>
        <td><%= barrack.i_d %></td>
        <td><%= barrack.name_barrack %></td>
        <td><%= barrack.location %></td>
        <td><%= link_to 'Show', barrack %></td>
        <td><%= link_to 'Edit', edit_barrack_path(barrack) %></td>
        <td><%= link_to 'Destroy', barrack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barrack', new_barrack_path %>
