<%= form_with(model: barrack, local: true) do |form| %>
  <% if barrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrack.errors.count, "error") %> prohibited this barrack from being saved:</h2>

      <ul>
      <% barrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_id %>
    <%= form.number_field :code_id %>
  </div>

  <div class="field">
    <%= form.label :name_barracks %>
    <%= form.text_field :name_barracks %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
