<p id="notice"><%= notice %></p>

<p>
  <strong>I d:</strong>
  <%= @service.i_d %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service.service %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
