<p id="notice"><%= notice %></p>

<h1>Soldiers</h1>

<table>
  <thead>
    <tr>
      <th>I d</th>
      <th>Name</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soldiers.each do |soldier| %>
      <tr>
        <td><%= soldier.i_d %></td>
        <td><%= soldier.name %></td>
        <td><%= soldier.grade %></td>
        <td><%= link_to 'Show', soldier %></td>
        <td><%= link_to 'Edit', edit_soldier_path(soldier) %></td>
        <td><%= link_to 'Destroy', soldier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soldier', new_soldier_path %>
