<p id="notice"><%= notice %></p>

<p>
  <strong>I d:</strong>
  <%= @team.i_d %>
</p>

<p>
  <strong>Type soldier:</strong>
  <%= @team.type_soldier %>
</p>

<p>
  <strong>Color team:</strong>
  <%= @team.color_team %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
