<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @soldier.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @soldier.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @soldier.grade %>
</p>

<%= link_to 'Edit', edit_soldier_path(@soldier) %> |
<%= link_to 'Back', soldiers_path %>
